

body {
    background: #f1dfd1 url('/images/001.png') fixed right top no-repeat;
}

.bg-white0{
    background: #FFFFFF;
}

.bg-white1{
    background: rgba(255, 255,255, 0.7);
    border-radius: 5px;
}

.mart10{
    margin-top: 10px;
}


.panel-body{
    background: rgba(255, 255,255, 0.7);
}

.panel{
    background: rgba(0, 0, 0, 0.0);
}

.grad1 {
    background: -webkit-linear-gradient(#d8c786, #75662a);
    background: -o-linear-gradient(#d8c786, #75662a);
    background: -moz-linear-gradient(#d8c786, #75662a);
    background: linear-gradient(#d8c786, #75662a);
}

.padt01{
    padding-top: 15px;
}

.padt00{
    padding-top: 5px;
}

.imgbut {
    margin: 5px;
    width: 300px;
}
.carousel {
    display: none;
}

.carousel-caption{
    text-shadow: 3px 3px 3px #303030;
}

.footer{
    height: 30px;
    border-radius: 3px;
}
.login form {
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
}

/* datepicker */
.ui-datepicker{
    /*width:auto;*/
    width:170px;
    height:190px;
    border-radius:8px;
}

.ui-datepicker-title {
    color: #8B7462;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.transp, .ui-datepicker{
    background:rgba(128, 128, 128, 0.3);
    border:rgba(245, 245, 245, 0.3) 1px solid;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#datepicker, table.ui-datepicker-calendar thead tr th
{
    font-size : 8pt;
}
.ui-datepicker-calendar thead td{
    font-size : 8pt;
}
.ui-datepicker table{
    font-size : 8pt;
}
