
body {
    background: #F0F0F0 url('/images/finance01.jpg') fixed center top no-repeat;
}

.navbar {
    height: 50px;
}

.navbar-brand img {
    height: 80px;
}

.bg-white0 {
    background: #FFFFFF;
}

.bg-white1 {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.mart10 {
    margin-top: 10px;
}

.marb10 {
    margin-bottom: 10px;
}

.mart20 {
    margin-top: 20px;
}

.marb20 {
    margin-bottom: 20px;
}

.mart30 {
    margin-top: 30px;
}

.panel-body {
    background: rgba(255, 255, 255, 0.7);
}

.panel {
    background: rgba(0, 0, 0, 0.0);
}

.grad1 {
    background: -webkit-linear-gradient(#d8c786, #75662a);
    background: -o-linear-gradient(#d8c786, #75662a);
    background: -moz-linear-gradient(#d8c786, #75662a);
    background: linear-gradient(#d8c786, #75662a);
}

.grad2 {
    background: -webkit-linear-gradient(#D0D0D0 5%, #505050 20%, #D0D0D0 51%, #303030 100%);
    background: -o-linear-gradient(#D0D0D0 5%, #505050 20%, #D0D0D0 51%, #303030 100%);
    background: -moz-linear-gradient(#D0D0D0 5%, #505050 20%, #D0D0D0 51%, #303030 100%);
    background: linear-gradient(#E0E0E0 5%, #808080 20%, #D0D0D0 51%, #404040 100%);
}

.padt01 {
    padding-top: 15px;
}

.padt00 {
    padding-top: 5px;
}

.imgbut {
    margin: 5px;
    width: 300px;
}

.carousel {
    display: none;
}

.oldfilter {
    display: none;
}

.carousel-caption {
    text-shadow: 3px 3px 3px #303030;
}

.footer {
    height: 30px;
    border-radius: 3px;
}

.login form {
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
}

/* datepicker */
.ui-datepicker {
    /*width:auto;*/
    width: 170px;
    height: 190px;
    border-radius: 8px;
    z-index: 500;
}

.ui-datepicker-title {
    color: #8B7462;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.transp, .ui-datepicker {
    background: rgba(128, 128, 128, 0.3);
    border: rgba(245, 245, 245, 0.3) 1px solid;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#datepicker, table.ui-datepicker-calendar thead tr th {
    font-size: 8pt;
}

.ui-datepicker-calendar thead td {
    font-size: 8pt;
}

.ui-datepicker table {
    font-size: 8pt;
}

.table-small td {
    /*color: #FF0000;*/
    font-size: 14px;
    background: #FFFFE0;

}

.table-small {

    box-shadow: 1px 1px 5px #909090;
}

