{% extends 'empty.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row mart10">
            <div class="col-12 shadow-lg padt01 bg-white1">
                {{ data }}<br />

            </div>
        </div>
    </div>
{% endblock %}
